:root {
  --default-color-modal: #3e3e5b;
}
.ant-row.ant-row-center.profile-form__box.modal-wrap {
  padding-left: 0;
  margin: 0 20px;
}

.modal-wrap.profile-form__box {
  .main-form {
    margin-left: 0;
  }
}

.modal-container {
  .profile-user__box {
    padding: 0;
    border-radius: 0;
    background-color: var(--default-color-modal);
  }

  .ant-modal-content {
    width: auto;
    background-color: var(--default-color-modal);

    .ant-modal-body {
      padding-top: 0 !important;
      height: auto !important;

      .profile-page {
        height: auto;
        border-radius: 0;
      }
    }
  }

  .ant-input-affix-wrapper.ant-input-password.login__input {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--default-background-popup-color);
    :hover {
      background: none;
    }
    input {
      background-color: var(--default-background-popup-color) !important;

      height: 40px !important;
      color: var(--white);
      font-size: 18px;
    }
    .ant-input-suffix {
      .ant-input-password-icon.anticon {
        color: #ff9138;
      }
    }
  }
  .ant-input-affix-wrapper-status-error:not(
      .ant-input-affix-wrapper-disabled
    ):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper,
  .ant-input-affix-wrapper-status-error:not(
      .ant-input-affix-wrapper-disabled
    ):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper:hover {
    background: var(--default-background-popup-color);
  }
  .ant-modal-header {
    background-color: var(--default-color-modal);
    text-align: center;
    border-bottom: none;
    border-radius: 16px 16px 0 0px;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;

    .ant-modal-title {
      font-weight: 600;
      font-size: 20px;
      line-height: 20px;
      color: var(--white);
    }
  }
  .ant-modal-footer {
    align-items: flex-start;
    height: 80px;
    display: flex;
    justify-content: center;
    border-top: none;
    border-radius: 0 0 16px 16px;
    background-color: var(--default-color-modal);
  }
}

.btn-wrap {
  width: 100%;

  button + button {
    margin-left: 32px;
  }
  button {
    width: 147px;
    height: 40px;
    border: 1.5px solid #ff9138;
    /* down */

    border-radius: 8px;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;

    &.confirm {
      background: #ff9138;
      color: white;
      /* down */

      border-radius: 8px;
    }
    &.cancel {
      color: var(--orange);
      background-color: transparent;
    }
  }
}
