.modal-container.play-video {
  .ant-modal-footer {
    display: none !important;
  }
  .ant-modal-header {
    display: none;
  }
  .ant-modal-content {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 452px;
    display: flex;
    justify-content: center;
    height: auto !important;
    position: relative;
    .ant-modal-close {
      cursor: pointer !important;
      .ant-modal-close-x {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        color: #3e3e5b;
        svg {
          width: 10px;
          font-weight: 500;
        }
        right: 25px;
        top: 20px;
        background-color: white;
        border-radius: 50%;
        width: 15px;
        height: 15px;
      }
    }
  }
  .ant-modal-body {
    display: flex;
    align-items: center;
  }
}
