:root {
  --border-radius: 16px;
}

.page {
  padding-left: 24px;
  width: 100%;
  &__title {
    h1 {
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 36px;
      color: #ff7506;

      /* identical to box height, or 150% */
    }

    /* Orange/$-Orange-500 */
  }
  &__filter {
    margin-bottom: 16px;

    &-last-item {
      flex-grow: 1;
      display: flex;
      justify-content: end;
      .page__filter-item {
        width: 300px;
        .ant-btn.ant-btn-default {
          border-radius: 0px 8px 8px 0 !important;
        }
      }
    }
    .ant-input-group-addon {
      border-radius: 0px 8px 8px 0;
    }
    &-item + &-item {
      margin-left: 24px;
    }
    &-item {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: #282739;
      &-title {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 4px !important;
        text-align: start;
      }
      &-body {
      }
      .ant-select-focused:not(.ant-select-disabled).ant-select:not(
          .ant-select-customize-input
        )
        .ant-select-selector {
        border-color: #40a9ff;
        box-shadow: none;
        border-right-width: 1px;
        outline: 0;
      }
      .page__filter-item-body.ant-select .ant-select-selector {
        width: 300px;
        height: 44px !important;
        border: 1.5px solid #d4d4d7 !important;
        border-radius: 8px !important;
        display: flex;
        align-items: center;
        justify-content: start;
        box-shadow: none;

        .ant-select-selection-item {
          text-align: start !important;
        }
      }
      .ant-input-search {
        .ant-input-affix-wrapper {
          width: 250px !important;
          border-right: none;
          border: 1.5px solid #d4d4d7 !important;
          border-radius: 8px !important;
          border-top-right-radius: 0px !important;
          border-bottom-right-radius: 0px !important;
          display: flex;
          align-items: center;
          justify-content: start;
          box-shadow: none;
        }
        .anticon.anticon-close-circle {
          display: flex;
          align-items: center;
        }
        .ant-input-group-addon {
          border-radius: 0px 8px 8px 0;
        }
        .ant-btn.ant-btn-default {
          height: 44px;
          width: 50px;
          border-radius: 0px 8px 8px 0;

          display: flex;
          align-items: center;
          justify-content: center;

          span {
            color: #ff7506;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
      .ant-input-group-wrapper.ant-input-search.page__filter-item-body {
        span {
          height: 44px !important;
        }
      }
    }
  }
}
.ant-table table {
  width: 100%;
  text-align: left;
  // border-radius: 21px 2px 0 0 !important;
  border-collapse: separate;
  border-spacing: 0;
}
.table-custom {
  background-color: #282739;
  border-radius: 16px;
  position: relative;
  .ant-table.ant-table-middle {
    // border-radius: 12px;
    background-color: transparent;
  }
  .ant-pagination-item-ellipsis {
    color: var(--white) !important;
    text-align: center;
    font-size: 0.7rem;
  }
  .ant-table-content {
    table {
      border-top: 0;
      margin-top: 0;
    }
    .ant-table-thead {
      align-items: center;
      tr {
        border-radius: 12px !important;
        &:nth-child(even) {
        }
        th.ant-table-cell {
          align-items: center;
          color: #ff7506;
          background-color: transparent;
          border: none;
          font-weight: 700;
          font-size: 14px;
          line-height: 20px;
          &:first-child {
            padding-left: 15px;
          }
        }
        th {
          padding: 20px 0px;
          border-right: 0 !important;
        }
      }
    }
    .ant-table-tbody {
      .ant-table-row:hover {
        background-color: transparent;
        opacity: 0.9;
        td {
          background-color: #282739;
        }
      }
      tr {
        td {
          border-right: 0 !important;
          &:first-child {
            padding-left: 16px;
          }
          &.ant-table-cell {
            border-bottom: 1px solid #727288;
            color: white;
          }
        }
      }
    }
  }

  .ant-table.ant-table-bordered
    > .ant-table-container
    > .ant-table-content
    > table {
    border: none;
  }
  .ant-table.ant-table-bordered > .ant-table-container {
    border-left: 0;
    background-color: transparent;
  }

  .ant-pagination.ant-pagination-mini.ant-table-pagination.ant-table-pagination-right {
    li {
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--white);
      opacity: 0.8;
    }
    height: 32px;
    margin-top: 24px;
    display: flex;
    align-items: center;
    li.ant-pagination-item-active {
      background: rgba(255, 117, 6, 0.5);
      border-radius: 10000;
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
      text-align: center;

      /* identical to box height */

      color: #ffffff;
    }
    .ant-pagination-item.ant-pagination-item-active {
      border-radius: 50%;
      border: none;
      a {
        color: #ffffff !important;
      }
    }
    .ant-pagination-item-container {
      display: flex;
    }
  }
  .ant-table-empty {
    .ant-table-placeholder:hover {
      td.ant-table-cell {
        background-color: transparent !important;
      }
    }
    td.ant-table-cell {
      border: none !important;
      color: white;
      .ant-empty {
        .ant-empty-image {
          svg {
            path {
              color: red;
            }
            color: #ff7506;
          }
        }
        .ant-empty-description {
          color: #ff7506;
        }
      }
    }
  }
}

.display-row-in__page-wrap {
  position: absolute;
  bottom: 15px;
  left: 15px;
  display: flex;
  align-items: center;
  &-text {
    color: var(--white);
  }
  &-input {
    margin: 0 5px;
    width: 50px;
    border-radius: 8px;
    background-color: transparent;
    border: 1.5px solid #ff7506 !important;
    color: var(--white);
    .ant-input-number-handler-wrap {
      display: none;
    }
    .ant-input-number-input {
      text-align: center;
    }
  }
}
