.ant-notification-notice {
  display: flex;
  align-items: center;
  border-radius: 12px;
  background-color: #727288;
  .ant-notification-notice-content {
    .ant-notification-notice-with-icon {
      .ant-notification-notice-description {
        display: none;
      }

      .ant-notification-notice-message {
        display: flex;
        align-items: center;
        margin-bottom: 0;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        color: white;
      }

      .anticon {
        display: flex;
        align-items: center;
        svg {
          height: 24px;
        }
      }
    }
  }
  .ant-notification-notice-close {
    display: none;
  }
}
